{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        [ "@babel/plugin-proposal-decorators", { "legacy": true }]
        // "@babel/plugin-transform-runtime"
    ]
}